@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,300&display=swap');

* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

:root {
    --text: #0e1a20;
    --background: #aec1ca;
    --primary-button: #af6b4b;
    --secondary-button: #cde1ea;
    --accent: #af6b4b;
    --accent-dark: #7e4b34;

}

/* MISC */

body {
    background-color: var(--background);
    color: var(--text);
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    width: min(100% - 3rem, 100ch);
    margin-inline: auto;
    margin-top: 10px;
}

/* skills.html */

.slider-outer {
    width: 600px;
    overflow-x: scroll;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 5px;
}

.slider-inner {
    /* width: 20%; */
    background-color: var(--accent);
    width: 300px;
    height: 100px;
    border-radius: 5px;
    padding: .35rem;
    scroll-snap-align: start;
    border: 2px solid var(--accent);
}

.slider-inner > h4 {
    color: var(--secondary-button);
}
.slider-inner:hover {
    border: 2px solid var(--accent-dark);
}

::-webkit-scrollbar {
    background-color: var(--pri);
    height: 25px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border: .55em  solid var(--background);
    border-radius: 100vh;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-dark);

}
